@font-face
    font-family "Bliss Pro"
    src url("fonts/BlissPro/BlissPro-ExtraLight.eot?#iefix") format("embedded-opentype"), url("fonts/BlissPro/BlissPro-ExtraLight.woff") format("woff"), url("fonts/BlissPro/BlissPro-ExtraLight.ttf") format("truetype")
    font-weight 200
    font-style normal

@font-face
    font-family "Bliss Pro"
    src url("fonts/BlissPro/BlissPro-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("fonts/BlissPro/BlissPro-ExtraLightItalic.woff") format("woff"), url("fonts/BlissPro/BlissPro-ExtraLightItalic.ttf") format("truetype")
    font-weight 200
    font-style italic

@font-face
    font-family "Bliss Pro"
    src url("fonts/BlissPro/BlissPro-Light.eot?#iefix") format("embedded-opentype"), url("fonts/BlissPro/BlissPro-Light.woff") format("woff"), url("fonts/BlissPro/BlissPro-Light.ttf") format("truetype")
    font-weight 300
    font-style normal

@font-face
    font-family "Bliss Pro"
    src url("fonts/BlissPro/BlissPro-LightItalic.eot?#iefix") format("embedded-opentype"), url("fonts/BlissPro/BlissPro-LightItalic.woff") format("woff"), url("fonts/BlissPro/BlissPro-LightItalic.ttf") format("truetype")
    font-weight 300
    font-style italic

@font-face
    font-family "Bliss Pro"
    src url("fonts/BlissPro/BlissPro.eot?#iefix") format("embedded-opentype"), url("fonts/BlissPro/BlissPro.woff") format("woff"), url("fonts/BlissPro/BlissPro.ttf") format("truetype")
    font-weight 400
    font-style normal

@font-face
    font-family "Bliss Pro"
    src url("fonts/BlissPro/BlissPro-Italic.eot?#iefix") format("embedded-opentype"), url("fonts/BlissPro/BlissPro-Italic.woff") format("woff"), url("fonts/BlissPro/BlissPro-Italic.ttf") format("truetype")
    font-weight 400
    font-style italic

@font-face
    font-family "Bliss Pro"
    src url("fonts/BlissPro/BlissPro-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/BlissPro/BlissPro-Medium.woff") format("woff"), url("fonts/BlissPro/BlissPro-Medium.ttf") format("truetype")
    font-weight 500
    font-style normal

@font-face
    font-family "Bliss Pro"
    src url("fonts/BlissPro/BlissPro-MediumItalic.eot?#iefix") format("embedded-opentype"), url("fonts/BlissPro/BlissPro-MediumItalic.woff") format("woff"), url("fonts/BlissPro/BlissPro-MediumItalic.ttf") format("truetype")
    font-weight 500
    font-style italic

@font-face
    src url("fonts/BlissPro/BlissPro-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/BlissPro/BlissPro-Bold.woff") format("woff"), url("fonts/BlissPro/BlissPro-Bold.ttf") format("truetype")
    font-weight 600
    font-style normal

@font-face
    font-family "Bliss Pro"
    src url("fonts/BlissPro/BlissPro-BoldItalic.eot?#iefix") format("embedded-opentype"), url("fonts/BlissPro/BlissPro-BoldItalic.woff") format("woff"), url("fonts/BlissPro/BlissPro-BoldItalic.ttf") format("truetype")
    font-weight 600
    font-style italic

@font-face
    font-family "Bliss Pro"
    src url("fonts/BlissPro/BlissPro-ExtraBold.eot?#iefix") format("embedded-opentype"), url("fonts/BlissPro/BlissPro-ExtraBold.woff") format("woff"), url("fonts/BlissPro/BlissPro-ExtraBold.ttf") format("truetype")
    font-weight 800
    font-style normal

@font-face
    font-family "Bliss Pro"
    src url("fonts/BlissPro/BlissPro-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("fonts/BlissPro/BlissPro-ExtraBoldItalic.woff") format("woff"), url("fonts/BlissPro/BlissPro-ExtraBoldItalic.ttf") format("truetype")
    font-weight 800
    font-style italic

@font-face
    font-family "Bliss Pro"
    src url("fonts/BlissPro/BlissPro-Heavy.eot?#iefix") format("embedded-opentype"), url("fonts/BlissPro/BlissPro-Heavy.woff") format("woff"), url("fonts/BlissPro/BlissPro-Heavy.ttf") format("truetype")
    font-weight 900
    font-style normal

@font-face
    font-family "Bliss Pro"
    src url("fonts/BlissPro/BlissPro-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("fonts/BlissPro/BlissPro-HeavyItalic.woff") format("woff"), url("fonts/BlissPro/BlissPro-HeavyItalic.ttf") format("truetype")
    font-weight 900
    font-style italic