header
    width 100vw
    position absolute
    top 0
    z-index 1000
    a
        text-decoration none
        font-weight 200
        font-size 1.044rem
        color inherit
        &:hover
            color #24c9ac
.header-container
    width 100%
    max-width 1100px
    padding 20px calc(50vw - 550px)
    background rgba(255,255,255,.96)
    box-shadow 0 0 100px 0 rgba(0,0,0,.04)
    ul
        display flex
        justify-content space-between
        align-items center
.logo
    height 64px
    img
        height 100%