-let path = "../"
doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width,initial-scale=1.0")
        title Визажист, свадебный стилист, парикмахер. Москва, МО.
        link(rel="stylesheet" href=path + "style.css")
    body
        .wrapper
            include ../templates/header
            .price-container
                p Профессиональный визажист-стилист Екатерина Сурначева создаст неповторимый образ для любого мероприятия, гармонирующий с Вашей одеждой и стилем.
                p Визаж выполняется на качественных и профессиональных косметических средствах MAC, Make up Atelier, Make Up For Ever, NYX, Inglot, Smashbox; а также на косметике класса люкс: Ive Saint Laurent, Chanel, GUERLAIN, Dior.
                .price-block
                    .pic.pic-w
                    h3 Цельный свадебный образ
                    p.green Свадебный макияж + Свадебная прическа
                    h4
                        span.helv 7 000 ₽
                        img(src=path + "img/sale.svg")
                    p.helv
                        |5 000 ₽
                        span.green — ПН–ЧТ

                .price-block
                    .pic.pic-w
                    h3 Свадебная причёска
                    p.green Уникальность. Любой тип и длина волос
                    h4
                        span.helv 4 500 ₽
                    p.helv
                        |3 500 ₽
                        span.green — ПН–ЧТ
                .price-block
                    .pic.pic-w
                    h3 Свадебный макияж
                    p.green В гармонии с вашим внешним видом
                    h4
                        span.helv 4 000 ₽
                    p.helv
                        |3 000 ₽
                        span.green — ПН–ЧТ
                .price-block
                    .pic.pic-w
                    h3
                        |Гости,
                        br
                        |подружки,
                        br
                        |мама невесты
                        sup *
                    h4
                        span.helv
                            | 1 500 ₽
                            span.green.small
                                span макияж +
                                span причёска
                    h4
                        span.helv
                            | 1 000 ₽
                            span.green.small макияж
                    h4
                        span.helv
                            | 1 000 ₽
                            span.green.small причёска
                    p.helv
                        |
                        span.green
                            sup *
                            | &nbsp;каждому отдельно
                .price-block
                    .pic.pic-e
                    h3 Цельный вечерний образ
                    p.green Вечерний макияж + Вечерняя причёска
                    h4
                        span.helv 4 000 ₽
                        img(src=path + "img/sale.svg")
                .price-block
                    .pic.pic-e
                    h3 Вечерний макияж
                    p.green Выразительность в вечернее время
                    h4
                        span.helv 2 500 ₽
                .price-block
                    .pic.pic-e
                    h3 Вечерняя причёска
                    p.green Индивидуальный подход
                    h4
                        span.helv 2 500 ₽
                .price-block
                    .pic.pic-p
                    h3
                        |Визажист на фотосессию
                        sup &nbsp;*
                    h4
                        span.helv
                            | 2 500 ₽
                            span.green.small
                                span макияж +
                                span причёска
                    h4
                        span.helv
                            | 1 500 ₽
                            span.green.small макияж
                    p.helv
                        |
                        span.green
                            sup *
                            | &nbsp;за один образ
                .price-inner-container
                    .price-block
                        .pic.pic-s
                        h3 Цельный образ на выпускной
                        p.green Макияж + причёска выпускного типа
                        h4
                            span.helv 4 000 ₽
                            img(src=path + "img/sale.svg")
                    .price-block
                        .pic.pic-s
                        h3 Макияж на выпускной
                        p.green Неотразимость на выпускном
                        h4
                            span.helv 2 500 ₽
                    .price-block
                        .pic.pic-s
                        h3 Причёска на выпускной
                        p.green Профессиональный учёт всех мелочей
                        h4
                            span.helv 2 500 ₽
                    .price-block
                        .pic
                        h3 Дневной макияж
                        p.green Учитывая солнечный свет и пр.
                        h4
                            span.helv 1 500 ₽
                    .price-block
                        .pic
                        h3 Макияж Nude Look
                        p.green Натуральность и естественность
                        h4
                            span.helv 1 200 ₽
                    .price-block
                        .pic
                        h3 Сценический макияж
                        p.green
                            |Любая стилистика
                            br
                            | &nbsp;
                        h4
                            span.helv 2 000 ₽
                .corporate-block
                    h3 Корпоративные заказы
                    h4 Звоните для выяснения всех деталей
                    p.green Почасовая оплата





            include ../templates/footer